---
import GhProfile from "../components/GhProfile.astro";
import Hero from "../components/Hero.astro";
---
<html>
  <body>
    <Hero />
    <main>
      <GhProfile />
    </main>
  </body>
</html>
<style>
  body {
    background-color: #eff1f5;
    color: #4c4f69;
    font-family: serif;
    margin: 0;
  }

  main {
    max-width: 38rem;
    padding: 2rem;
    margin: auto;
  }
</style>
