<header>
  <h1>I'm Konosuke.</h1>
</header>
<style>
  h1 {
    color: #eff1f5;
  }

  header {
    background-color: #209fb5;
    display: grid;
    height: 100vh;
    place-items: center;
  }
</style>
